services:
  mariadb:
    build: ./requirements/mariadb/
    container_name: mariadb
    restart: always
    volumes:
      - mariadb_vol:/var/lib/mysql
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      network_1:
        ipv4_address: 192.168.91.3

  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress
    restart: always
    volumes: 
      - wordpress_vol:/var/www/html
    env_file:
      - .env
    networks:
      network_1:
        ipv4_address: 192.168.91.2
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9000 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5

  nginx:
    build: ./requirements/nginx/
    container_name: nginx
    restart: always
    volumes:
      - wordpress_vol:/var/www/html
    env_file:
      - .env
    depends_on: 
      wordpress:
        condition: service_healthy
    ports: 
      - "4000:80"
    networks:
      network_1:
         ipv4_address: 192.168.91.4
volumes:
  mariadb_vol:
    driver: local
    driver_opts:
      type: none
      device: /home/malsharq/data/db
      o: bind
  wordpress_vol:
    driver: local
    driver_opts:
      type: none
      device: /home/malsharq/data/wp
      o: bind    
networks:
  network_1:
    driver: bridge
    ipam:
      config:
        - subnet: "192.168.91.0/24"


    