services:
  mariadb:
    build: ./requirements/mariadb/
    container_name: mariadb
    image: mariadb
    restart: always
    volumes:
      - mariadb_vol:/var/lib/mysql
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "mariadb-admin ping -h localhost -u $DB_USER -p$(cat /run/secrets/db_password)"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      network_1:
        ipv4_address: 192.168.91.3
    secrets:
      - db_password
      - db_root_password

  wordpress:
    build: ./requirements/wordpress/
    container_name: wordpress
    image: wordpress
    restart: always
    volumes: 
      - wordpress_vol:/var/www/html
    env_file:
      - .env
    networks:
      network_1:
        ipv4_address: 192.168.91.2
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9000 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
    secrets:
      - wp_admin_password
      - db_password
      - wp_user_password
  nginx:
    build: ./requirements/nginx/
    container_name: nginx
    image: nginx
    restart: always
    volumes:
      - wordpress_vol:/var/www/html
    env_file:
      - .env
    depends_on: 
      wordpress:
        condition: service_healthy
    ports: 
      - "443:443"
    networks:
      network_1:
         ipv4_address: 192.168.91.4
volumes:
  mariadb_vol:
    driver: local
    driver_opts:
      type: none
      device: /home/malak/data/db
      o: bind
  wordpress_vol:
    driver: local
    driver_opts:
      type: none
      device: /home/malak/data/wp
      o: bind 

networks:
  network_1:
    driver: bridge
    ipam:
      config:
        - subnet: "192.168.91.0/24"

secrets:
  db_password:
    file: ../secrets/db_password.txt
  db_root_password:
    file: ../secrets/db_root_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
    